<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </head>
  <body>
    <center><b>Welcome to Kit726 Final Assignment** </b></center>
<center><b><p>Welcome to the KIT726(Ethical hacking and eforensics Final Assignment of the Group 13. This is the group Assignment Done by 5 Members
</p></b><center>
    <center> <b><p>1.Pradip Chapagain</p></b></center>
    <center> <b><p>2.Shreya Manandhar</p></b></center>
    <center> <b><p>3.Gursimran Kaur</p></b></center>
    <center> <b><p>4.Aviksha Wenura Maitipe</p></b></center>
    <center> <b><p>5.Rajee Raveendiran</p></b></center>
    <a href="login" >Click Here to Continue </a>

  </body>
</html>